body{
    margin:0 auto;
}

.searchbar{
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    top:0;
    width:100%;
}

.searchbar-input{
    height: 10px;
    width: 250px;
    margin-right: 1em;
    border-radius: 2rem;
    padding: 0.5rem;   
}

.search-btn{
    cursor: pointer;
}
.albums-container{
    width: 80%;
    margin:50px auto;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, 120px);
    
}

.album{
    background-color: rgb(230, 231, 232);
    padding: 8px;
    border: 2px solid black;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    font-size:x-large;
}

#spinner{
    visibility: hidden;
    width: 30px;
    height: 30px;
  
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
  
    /* position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto; */
  
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
  }
  
  #spinner.show {
    visibility: visible;
  }